<div class="myquote">
  <br />
  <br />
  <div class="container-fluid">
    <h1 class="text-center fadeIn">BA Quotes App</h1>
    <p class="text-center">Add Some of Your Favorite Quotes Here</p>
    <div class="text-center pt-1">
      <a href="#addquote" class="btn btn-outline-success btn-lg p-1 mybtn"
        >Add Quote</a
      >
    </div>
  </div>
</div>
<hr/>
<div class="container jumbotron" id="addquote">
  <div class="row">
    <div class="col-md-6" >
      <div class="container" >
        <div class="row">
          <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="row" *ngFor='let quote of quotes; let i = index'>
          <div class="container">
            <h4 id="{{i}}" appHighlight>{{quote.description}} </h4>
            <button (click)='toogleDetails(i)'>More Details</button>
          </div>
          <div class="container">
            <div class="row" *ngIf="quote.showDescription">
              <app-quote-detail [quote]='quote' (isComplete)='deleteQuote($event,i)'>
              </app-quote-detail>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>