<p>
  <b>Author of the Quote</b>:
  {{quote.author}}
</p>
<p>
  <b>Person who submitted</b>:
  {{quote.name}}
</p>
<p>This <b style="color: green;">Quote</b> was added {{quote.completeDate|dateCount}} Days Ago</p>
<div class="row">
  <div class="col-md-6">
    <a href="" (click)="voteUp()">
     Upvote
    </a> ({{likes}})
  </div>
  <div class="col-md-6">
    <a href="" (click)="voteDown()">
      Downvote
    </a> ({{disLikes}})
  </div>
</div>
<br>

<button class="btn btn-danger" (click)='quoteDelete(true)'> Delete Quote </button>