<p>
  Author:
  <br>{{quote.author}}</p>
<p>Name:
  <br>{{quote.name}}</p>
<p>This <b style="color: green;">Quote</b> was added {{quote.completeDate|dateCount}} Days Ago</p>
<div class="row">
  <div class="col-md-6">
    <a href="" (click)="voteUp()">
      <i class="fas fa-thumbs-up ">Upvote</i>
    </a> ({{likes}})
  </div>
  <div class="col-md-6">
    <a href="" (click)="voteDown()">
      <i class="fas fa-thumbs-down">Downvote</i>
    </a> ({{disLikes}})
  </div>
</div>

<button class="btn btn-danger" (click)='quoteDelete(true)'> Delete Quote </button>